.game-card {
    height: 20vh;
    cursor: pointer;
}

.herd{
    float: right;
    font-size: 5vh;
    font-weight: bold;
}

.herd-count {
    background-image: url("../src/cards/camel.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 6vh;
    width: 6vh;
    margin: 5px;
    padding-top: 14vh; 
    padding-left: 9vh;
}

.selected {
    margin: 2.5px;
    border: 2.5px solid #ffc800;
    border-radius: 5px;
}

.normal {
    margin: 5px;
}

.small {
    height: 15vh;
}