#game-details {
    background-image: url("../src/game_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    width: 20vw;
    height: 90%;
}

.card-score-div{
    width: 50%;
    display: inline-block;
}

.card-score {
    /* float: left; */
    display: inline-block;
    /* width : 10%; */
    height: 5vh;
    font-size: 3vh;
    font-weight: bold;
    margin-right: 5%;

}
