
.game-hand {
    display: table;
    width: 95%;
    height: 25vh;
    margin: 3vh;
}

.player-name {
    background-color: #fcf7d0;
    border: 2.5px solid #ffc800;
    border-radius: 25px;
    float: left;
    width : 70%;
    height: 4vh;
    font-size: 3vh;
    padding-left: 1vw;
    padding-top: 0.2vw;
}


.game-cards {
    float: left;
}

.play-options {
    float: left;
    margin-top: 0.5vh;
    margin-right: 2.5vw;
}

.option-button {
    font-size: 1vw;
    line-height: 2.5vh;
    width: 7vw;   
    padding: 0.5vh;
}

.player-score {
    float: left;
    width : 10%;
    height: 8vh;
    font-size: 5vh;
    font-weight: bold;
    margin-left: 10%;

}
