#starter-page {
    width: 80vw;
    height: 100vh;
    float: left;
}

#player-names {
    height: 25vh;
    width: 60%;
    margin: auto;
    margin-top: 25vh;
}

.player-inp {
    background-color: #fcf7d0;
    border: 2.5px solid #ffc800;
    border-radius: 25px;
    float: left;
    width : 35%;
    height: 4vh;
    font-size: 3vh;
    padding: 1%;
    margin: 5%;
    padding-left: 2%;
}

#new-game {
    width: 25%;
    display: block;
    font-size: 4vh;
    margin-top: 0; 
}