body{
    margin: 0%;
    height: 100vh;
    width: 100vw;
    background-image: url("../src/back_pattern2.png");
    font-family: cursive !important;
}

#container {
    overflow: hidden;
    
}

#buttons {
    margin-top: 8vw;
    display: inherit;
}
.button {
    width: 50%;
    margin: 10px auto 10px auto;
    padding: 2%;
    font-size: 2.5vh;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(#ffc800, #fcf7d0);
    text-transform: capitalize;
}

.button:active {
    background: linear-gradient( #fcf7d0, #ffc800);
}

#content {
    width: 80vw;
    height: 100vh;
    float: left;
    display:none;
}

a {
    text-decoration: none;
    cursor: pointer;
}